dependencies/gsd-sph/gsd-*/build
dependencies/pgsd-sph/pgsd-*/build
helper_modules/gsd2vtu/__pycache__/
helper_modules/__pycache__/

hoomd-blue/hoomd/extern/pgsd.c
hoomd-blue/hoomd/extern/pgsd.h

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VENV folder 
.venv

# VSCode folder
.vscode