[submodule "dependencies/gsd-sph"]
	path = dependencies/gsd-sph
	url = git@github.com:rostanda/gsd-sph.git
[submodule "dependencies/pgsd-sph"]
	path = dependencies/pgsd-sph
	url = git@github.com:rostanda/pgsd-sph.git
